body {
text-align: center;
}
#profile{
width: 175px;
margin-bottom: 50px;
border-radius: 50%;
}
#name{
font-size: 40px;
line-height: 1.2;
font-family: 'Cormorant Unicase', serif;
}
h1{
font-size: 40px;
line-height: 1.2;
font-family: inherit;
font-weight: 400;
}
h2{
font-size: 30px;
font-weight: 400;
 line-height: 1.2;
font-family: monospace;
}
#bio{
padding: 50px;
text-align: center;
font-size: 42px;
}
.line{
height: 6px;
width: 70px;
background-color: black;
margin: 8px auto;
}
p{
font-size: 20px;
}
#welcome{
color: white;
bottom: 0;
width: 100%;
height: 100%;
opacity: 0.83;
display: table;
background: linear-gradient(#47fc05 0%,#05fce7 100%);
z-index: 9;
}
.inner{
display: table-cell;
position: relative;
    text-align: center;
vertical-align: middle;
}


html{
scroll-behavior: smooth;
}

.article:hover{
color: hotpink;
}
#contact iframe{
width: 100%;
}
.contact1 a{
color: hotpink;
text-shadow: none;
}
.contact1 h3{
display: inline;
}
#contact{
background-color: hotpink;
}
#writings a{
text-shadow: none !important;
text-decoration: underline !important;
color: blue !important;
}
.my_navbar{
position: sticky;
top: 0;
z-index: 99999 ;
}
input{
background: grey;
}